canvas {
    border: 1px solid cornflowerblue;
}

#gameplay {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#start {
    border-radius: 50px;
    font-size: 150px;
    background-color: #7DEB52;
    transition: 0.2s;
}

#start:hover {
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.75);
    background-color: #EBAF52;
}

#buttonStart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#themeGame {
    background-image: url("istockphoto-1178574683-612x612.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#bgr {
    width: 100vw;
    height: 100vh;
}

#gameOver {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#reStart {
    position: absolute;
    top: 50%;
    left: 40%;
    border-radius: 50px;
    font-size: 150px;
    background-color: #7DEB52;
    transition: 0.2s;
}

#reStart:hover {
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.75);
    background-color: #EBAF52;
}

#text {
    font-size: 100px;
}

#scores {
    font-size: 100px;
}

body {
    background-image: url("Angry-BIrds-Toons-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}